@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-gradient-radial {
    background-image: radial-gradient(circle, var(--tw-gradient-stops));
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[#020617] text-slate-100;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out;
}
